@font-face {
    font-family: 'Alegreya-Black';
    src: url('@/assets/fonts/AlegreyaSC-Black.ttf');

}

@font-face {
    font-family: 'Alegreya-BlackItalic';
    src: url('@/assets/fonts/AlegreyaSC-BlackItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url('@/assets/fonts/AlegreyaSC-Bold.ttf');

}

@font-face {
    font-family: 'Alegreya-BoldItalic';
    src: url('@/assets/fonts/AlegreyaSC-BoldItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-ExtraBold';
    src: url('@/assets/fonts/AlegreyaSC-ExtraBold.ttf');

}

@font-face {
    font-family: 'Alegreya-ExtraBoldItalic';
    src: url('@/assets/fonts/AlegreyaSC-ExtraBoldItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Italic';
    src: url('@/assets/fonts/AlegreyaSC-Italic.ttf');

}

@font-face {
    font-family: 'Alegreya-Medium';
    src: url('@/assets/fonts/AlegreyaSC-Medium.ttf');

}

@font-face {
    font-family: 'Alegreya-MediumItalic';
    src: url('@/assets/fonts/AlegreyaSC-MediumItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url('@/assets/fonts/AlegreyaSC-Regular.ttf');

}

