// Color Palette
$main-color: #86489C;
$main-color-1: #1E042C;
$main-color-2: #391648;
$main-color-3: #6A3B7B;
$main-color-4: #AA70BF;
$main-color-5: #D5B0E4;
$main-color-6: #EEE0F1;

$accent: #D23C48;
$accent-dark: #742628;
$accent-1: #E44653;
$accent-2: #F0515E;
$accent-3: #FF7E7E;

$accent-secondary: #335781;
$accent-secondary-dark: #233751;

$main-color-dark-1: #0A060C;
$main-color-dark-2: #18171E;
$main-color-dark-3: #422748;
$main-color-dark-4: #1F1821;
