@font-face {
    font-family: 'Alegreya-Black';
    src: url('@/assets/fonts/AlegreyaSc-Black.ttf');

}

@font-face {
    font-family: 'Alegreya-BlackItalic';
    src: url('@/assets/fonts/AlegreyaSc-BlackItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url('@/assets/fonts/AlegreyaSc-Bold.ttf');

}

@font-face {
    font-family: 'Alegreya-BoldItalic';
    src: url('@/assets/fonts/AlegreyaSc-BoldItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-ExtraBold';
    src: url('@/assets/fonts/AlegreyaSc-ExtraBold.ttf');

}

@font-face {
    font-family: 'Alegreya-ExtraBoldItalic';
    src: url('@/assets/fonts/AlegreyaSc-ExtraBoldItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Italic';
    src: url('@/assets/fonts/AlegreyaSc-Italic.ttf');

}

@font-face {
    font-family: 'Alegreya-Medium';
    src: url('@/assets/fonts/AlegreyaSc-Medium.ttf');

}

@font-face {
    font-family: 'Alegreya-MediumItalic';
    src: url('@/assets/fonts/AlegreyaSc-MediumItalic.ttf');

}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url('@/assets/fonts/AlegreyaSc-Regular.ttf');

}

